{% extends "bootstrap/base.html" %}
{% block title %}招聘信息爬虫{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static',filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='scroll.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>今日工作信息
            <small>共计{{ cnt }}条</small>
        </h1>
        <div class="table-responsive">
            <table class="table table-stripped table-hover table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>职位</th>
                    <th>公司</th>
                    <th>地点</th>
                    <th>月薪</th>
                    <th>来源</th>
                </tr>
                </thead>
                <tbody>
                {% set id = 1 %}
                {% for td in data %}
                <tr>
                    <td>{{ id }}</td>
                    <td><a href="{{ td[2] }}" target="_blank">{{ td[1] }}</a></td>
                    <td>{{ td[3] }}</td>
                    <td>{{ td[4] }}</td>
                    <td>{{ td[5] }}</td>
                    <td>{{ td[0] }}</td>
                </tr>
                {% set id = id+1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
